{% extends 'base.html' %}

{% block content %}
<h1>Edit profile</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% if user.photo %}
    <p class="user__image"><img src="{{ user.photo.url }}"></p>
    {% else %}
    <p class="user__image"><img src="{{ default_image }}"></p>
    {% endif %}
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>
<hr>
<p><a href="{% url 'accounts:password_change_view' %}">Change password</a></p>
{% endblock %}