{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">
    {% for post in posts %}
    <li>
        <div class="article-panel">
            <p class="first">
                Category: {{ post.category.name }}
                Author: {{ post.author.username }}
            </p>
            <p class="last">Published: {{ post.updated_date }}</p>
        </div>
        {% if post.photo %}
        <p><img class="img-article-left thumb" src="{{ post.photo.url }}"></p>
        {% endif %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <div class="clear"></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}